@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:opsz@6..12&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

/* Global Tags */
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85)
}

span {
    font-size: .9rem;
    color: #757373;
}
h6 {
    font-size: 1.3rem;
    color: rgb(24, 24, 49)
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

.search-bar button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

/*--Navigation--*/
nav {
    position: absolute;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 4vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    margin: ;
}
nav img{
    width: 80px;
    cursor: pointer;
}

nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a{
    text-decoration: none;
    color: #F9F9FF;
    font-size: 16px;
    font-weight: 500;
}

nav .navigation ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: lightgreen;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav .navigation ul li:hover::after{
    width: 100%;
}

/*---Home---*/
#home{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("C:/Users/HP/OneDrive/Desktop/ALX SWE/Portfolio project/images/Home.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home h2{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#home p{
    width: 50%;
    color: #fff;
    font-size: 0.9rem;
    line-height: 25px;
}

#home .butn{
    margin-top: 30px;
    display: flex;
}

#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

#home a.red{
    color: white;
    background-color: lightgreen;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 10px;
    transition: 0.5s
}

#home a.red:hover{
    color: lightgreen;
    background-color: red;
}

#home a.yellow{
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.5s
}

#home a.yellow:hover{
    color: yellow;
    background-color: red;
}

#services{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#services .ser-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#services .ser-box{
    background: #F9F9FF;
    text-align: start;
}

#services .ser-box i{
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
}

#services .ser-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgv(46, 46, 59);
    padding: 13px 0 7px 0;
}

#services .ser-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgv(70, 70, 87);
}

/* Products */
#products{
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}

#products .product-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#products .product{
    text-align: start;
    background: #F9F9FF;
    height: 100%;
    position: relative;
}

#products .product img{
    width: 100%;
    height: 60%;
    backgroung-size: cover;
    background-position: center;
}

#products .product .details{
    padding: 15px 15px 0 15px;
}

#products .product .details i{
    color: #FDC93B;
    font-size: .9rem;
}

#products .product .cost{
    background-color: rgb(74, 74, 136);
    color: #fff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 100px;
}
