body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: aliceblue;
    
}
header {
    height: 3rem;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: burlywood;
    border-bottom: 1px solid grey;
    text-align: center;
}

.center_body {
    height: 200px;
    border: 1px solid grey;
    background-color: rgba(12, 216, 243, 0.418);
    margin-top: 40px;
    
}

.center_body p {
    margin-top: 70px;
    font-size: 2rem;
    text-align: center;
}

.location {
    border: 1px solid grey;
    margin-top: 40px;
    text-align: center;
    background-color: rgb(247, 125, 25);
    padding-bottom: 15px;
}

.header_item {
    margin-right: 100px;
}