@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:opsz@6..12&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

/* Global Tags */
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85)
}

span {
    font-size: .9rem;
    color: #757373;
}
h6 {
    font-size: 1.3rem;
    color: rgb(24, 24, 49)
}

/* Header Styling */
header {
    position: fixed;
    width: 100%;
}

/* Search Options in Header */
.search-options {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #F9F9FF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.search-options-item.active {
    color: lightgreen;
    font-weight: bold;
}

.search-options-item::after{
    content: '';
    width: 0;
    height: 2px;
    background: lightgreen;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.search-options-item:hover::after{
    width: 100%;
}

/* Navigation Bar in Header */
nav {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 4vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
}
nav img{
    width: 80px;
    cursor: pointer;
}

nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search {
    margin-top: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    border: 2px #F9F9FF solid;
    border-radius: 15px;
}

.search.hidden {
    display: none;
}

.search-bar {
    width: 95%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    padding-right: 40px;
    border-radius: 25px;
    display: block;
}

#search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

#search-button i {
    color: #F9F9FF;
}

#search-button i:hover {
    color: lightgreen;
}

.suggestions {
    background-color: white;
    width: 60%;
    max-height: 70vh;
    overflow-y: auto;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.suggestions.hidden {
    display: none;
}

.suggestion {
    margin: 0 5px;
    border-bottom: 2px solid #ccc;  
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.suggestion:last-child {
    border-bottom: none;
}

.suggestion:hover {
    border: 3px solid lightgreen;
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
}

.pharmacy-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: grey;
}

.pharmacy-address {
    font-weight: bold;
    margin-bottom: 10px;
}

.medicine-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
}

@media (max-width: 800px) {
    .search, .suggestions{
        width: 90%;
    }
}

#menu-btn{
    width: 30px;
    height: 30px;
    display: none;
}

#menu-close{
    display: none;
}

nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a{
    text-decoration: none;
    color: #F9F9FF;
    font-size: 16px;
    font-weight: 500;
}

nav .navigation ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: lightgreen;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav .navigation ul li a.active {
    color: lightgreen;
    font-weight: bold;
}

nav .navigation ul li:hover::after{
    width: 100%;
}

.sub-menu{
    display: none;
    position: absolute;
    background: rgb(21, 21, 100);
    margin-top: 15px;
    margin-left: 15px;
}

nav .navigation ul li:hover .sub-menu, .sub-menu:hover{
    display: block;
}

nav .navigation ul li:hover .sub-menu ul{
    display: block;
    margin: 10px;
}

nav .navigation ul li:hover .sub-menu ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

nav .navigation ul li:hover .sub-menu ul li:last-child{
    border-bottom: none;
}

nav .navigation ul li:hover .sub-menu ul li a:hover{
    color: lightgreen;
}

/*---Home---*/
#home{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("../img/Home.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home h2{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#home p{
    width: 50%;
    color: #fff;
    font-size: 0.9rem;
    line-height: 25px;
}

#home .butn{
    margin-top: 30px;
    display: flex;
}

#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

#home a.red{
    color: white;
    background-color: lightgreen;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 10px;
    transition: 0.5s
}

#home a.red:hover{
    color: lightgreen;
    background-color: red;
}

#services{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#services .ser-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#services .ser-box{
    background: #F9F9FF;
    text-align: start;
}

#services .ser-box i{
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
}

#services .ser-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgv(46, 46, 59);
    padding: 13px 0 7px 0;
}

#services .ser-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgv(70, 70, 87);
}

/* Products */
#products{
    padding: 8vw 8vw 0vw 8vw;
    text-align: center;
}

#products .product-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#products .product{
    text-align: start;
    background: #F9F9FF;
    height: 100%;
    position: relative;
}

#products .product img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

#products .product .details{
    padding: 15px 15px 0 15px;
}

#products .product .details i{
    color: #FDC93B;
    font-size: .9rem;
}

#products .product .cost{
    background-color: rgb(74, 74, 136);
    color: #fff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 100px;
}

/* Team Members */
#AboutUs{
    padding: 8vw 8vw 0vw 8vw;
    text-align: center;
}

#AboutUs .team-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#AboutUs .team-box .team-member{
    background: #fafaf1;
    padding: 30px 10px;
}

.pro-links{
    margin-top: 10px;
}

.pro-links i{
    padding: 10px 13px;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
    transition: 0.5s;
}

.pro-links i:hover{
    background:  rgb(21, 21, 100);
    color: #fff;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
}


#AboutUs .team-member img {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

/* Pharmacy-Locator */

#pharm-locator {
    text-align: center;
    padding: 50px;
}

#pharm-locator .pharm_container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

#pharm-locator .pharm {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.5s;
}

#pharm-locator .pharm:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#pharm-locator .pharm .desc {
    text-align: start;
    padding: 10px 0;
}

#pharm-locator .pharm .desc span {
    color: #0606063;
    font-size: 12px;
}

#pharm-locator .pharm .desc h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#pharm-locator .pharm .desc i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#pharm-locator .pharm img {
    width: 100%;
    border-radius: 20px;
}

.search-pharm {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-pharm div {
    width: 40%;
    padding: 10px 15px;
    padding-bottom: 40px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.5s;
}

@media (max-width: 1000px) {
    .search-pharm div {
        width: 90%;
    }
}

.search-pharm img {
    border-radius: 20px;
    width: 100%;
}

.search-pharm p {
    font-size: 20px;
    font-weight: bold;
    color: grey;
    margin: 15px 0 0;
}

.search-pharm h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.search-pharm a {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 50px;
}

.search-pharm-nav {
    background-color: grey;
}

/*Pharmacy Home */
/* #pharmacy-home{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("../img/1.png");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#pharmacy-home h2{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
} */

/*footer*/
footer{
    padding: 8vw;
    background-color: #101C32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
}

footer .footer-col{
    padding-bottom: 40px;
}

footer h3{
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 20px;
}

footer li{
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}

footer li:hover{
    color: rgb(241, 240, 245);
}

footer p{
    color: #7b838a;
}

footer .subscribe{
    margin-top: 20px;
}

footer input{
    width: 220px;
    padding: 15px 12px;
    background: #334F6C;
    border: none;
    outline: none;
    color: #fff;
}

footer .subscribe a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 15px;
    background-color: #fff;
    font-weight: 600;
}

footer .subscribe a.green{
    color: #2c2c2c;
    background: yellow;
    transition: 0.5s;
}

footer .subscribe a.green:hover{
    color: rgb(21, 21, 100);
    background: red;
}

footer .copyright{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copyright p{
    color: white;
}

footer .copyright .pro-links{
    margin-top: 0px;
}

footer .copyright .pro-links i{
    background-color: #5f7185;
    color: white;
}

footer .copyright .pro-links i:hover{
    background-color: #FDC938;
    color: #2c2c2c;
}

/* About Homepage*/
#about-home{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("../img/image 1.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#about-home h2{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#about-container{
    display: flex;
    align-items: center;
    padding: 8vw 8vw 2vw 8vw;
}

.about-img img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
    padding-right: 60px;
    margin-top: -250px;
}

.about-text img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

#about-container .about-text h2{
    color: #29303B;
    padding-bottom: 15px;
}

#about-container .about-text p{
    color: #686F7A;
    font-weight: 300;
}

#about-container .about-text .about-fe{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

#about-container .about-text .about-fe img{
    width: 70px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

#about-container .about-text .about-fe .fe-text{
    width: 90%;
}

#about-container .about-text .about-fe .fe-text h5{
    font-size: 16px;
    color: #29303B;
}



@media (max-width: 769px){
    nav {
        padding: 15px 20px;
    }
    nav img{
        width: 60px;
        cursor: pointer;
    }
    #menu-btn{
        display: initial;
        color: white;
        font-size: 1.6rem;
        padding: 30px 0 20px 20px;
    }
    #menu-close{
        display: initial;
        font-size: 1.6rem;
        color: white;
        padding: 30px 0 20px 20px;
    }
    nav .navigation ul{
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background: rgba(17, 20, 104, 0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.5s ease;
    }
    nav .navigation ul.active{
        right: 0;
    }
    nav .navigation ul li{
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }
    nav .navigation ul li a{
        color: white;
    }
    #home{
        padding-top: 0px;
    }
    #home p{
        width: 90%;
    }
    #services{
        padding: 8vw 4vw 0 4vw;
    }
    #products{
        padding: 8vw 4vw 0vw 4vw;
    }
    #AboutUs{
        padding: 8vw 8vw 4vw 8vw;
    }
    footer .copyright .pro-links{
        margin-top: 15px;
    }
}
