<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'theracityApp/css/style.css' %}">
</head>
<body>
    {% if name %}
    <h1>Hello {{ name }}</h1>
    {% else %}
    <h1>Hello World</h1>
    {% endif %}
    <p>This is me saying a very warm hello to you. I personally want to use this medium to also test out the little css I've been learning. So, my aim is to center this paragraph, use a different style font, as well as a different font color. I'm also going to be testing out the <span>color hunt</span> palette in this one. Ok then, I think I have a sizeable enough paragraph to begin my test. Ciao!</p>
</body>
</html>