<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheraCity Pharmaceutical Store</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'theracityApp/css/new_homepage.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
  </head>
  <body>
    <!----Navigation ------>

    <nav>
      <img src="C:\Users\HP\OneDrive\Desktop\ALX SWE\Portfolio project\images\Logo.png" alt="">
      <!-- Search Bar -->
      <div class="search-bar">
        <input type="text" placeholder="Search..." id="searchInput">
        <button type="submit"><i class="fas fa-search"></i></button>
        <p id="suggestions"></p>
      </div>
      <div class="navigation">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">About Us</a></li>
          <li><a href="">Pharmacy Stores</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
      </div>
    </nav>

    <!---Home--->
    <section id="home">
      <h2>Your Largest Online Pharmacy Store</h2>
      <p>Welcome to <b>TheraCity</b>, your one-stop destination for all your pharmaceutical needs.</p>
      <div class="butn">
        <a class="red" href="">Learn More</a>
      </div>
    </section>

    <!-----Services----->
    <section id="services">
      <h1>Our Services</h2>
<p>Discover a wide network of reputable pharmacy stores right in your neighborhood with TheraCity. Our platform connects you to a variety of pharmacies, ensuring accessibility to essential medications and healthcare products</p>
<div class="ser-base">
  <div class="ser-box">
    <i class="fa fa-medkit"></i>
    <h3>Medical Services</h3>
    <p>Explore our user-friendly interface to find detailed information about each pharmacy, including their location, operating hours, available services, and customer reviews. TheraCity simplifies the process of locating and ordering from nearby pharmacies, providing a convenient and reliable solution for your pharmaceutical needs.</p>
  </div>
  <div class="ser-box">
    <i class="fa fa-h-square"></i>
    <h3>Products</h3>
    <p>Explore our user-friendly interface to find detailed informationabout each pharmacy, including their location, operating hours, available services, and customer reviews. TheraCity simplifies the process of locating and ordering from nearby pharmacies, providing a convenient and reliable solution for your pharmaceutical needs.</p>
  </div>
  <div class="ser-box">
    <i class="fa fa-ambulance"></i>
    <h3>Swift Deliveries</h3>
    <p>Explore our user-friendly interface to find detailed informatio about each pharmacy, including their location, operating hours, available services, and customer reviews. TheraCity simplifies the process of locating and ordering from nearby pharmacies, providing a convenient and reliable solution for your pharmaceutical needs.</p>
  </div>
</div>
</section>

<!----Products---->
<section id="products">
  <h1>Popular Orders</h1>
  <p></p>
  <div class="product-box">
    <div class="product">
      <img src="C:\Users\HP\OneDrive\Desktop\ALX SWE\Portfolio project\images\christina-victoria-craft-ZHys6xN7sUE-unsplash.jpg" alt="">
      <div class="details">
        <span> Updated 2/5/24</span>
        <h6>Paracetamol</h6>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <span>(200)</span>
        </div>
      </div>
      <div class="cost">
        $15
      </div>
    </div>
    <div class="product">
      <img src="C:\Users\HP\OneDrive\Desktop\ALX SWE\Portfolio project\images\brett-jordan--eFPTYvfMxY-unsplash.jpg" alt="">
      <div class="details">
        <span> Updated 2/5/24</span>
        <h6>Amoxicilin</h6>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <span>(200)</span>
        </div>
      </div>
      <div class="cost">
        $15
      </div>
    </div>
    <div class="product">
      <img src="C:\Users\HP\OneDrive\Desktop\ALX SWE\Portfolio project\images\melany-tuinfosalud-com-iA3bAZsR4o4-unsplash.jpg" alt="">
      <div class="details">
        <span> Updated 2/5/24</span>
        <h6>Paracetamol</h6>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <span>(200)</span>
        </div>
      </div>
      <div class="cost">
        $15
      </div>
    </div>
    <div class="product">
      <img src="C:\Users\HP\OneDrive\Desktop\ALX SWE\Portfolio project\images\melany-tuinfosalud-com-sCsVWSryy3o-unsplash.jpg" alt="">
      <div class="details">
        <span> Updated 2/5/24</span>
        <h6>Paracetamol</h6>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <span>(200)</span>
        </div>
      </div>
      <div class="cost">
        $15
      </div>
    </div>
    <div class="product">
      <img src="C:\Users\HP\OneDrive\Desktop\ALX SWE\Portfolio project\images\christina-victoria-craft-ZHys6xN7sUE-unsplash.jpg" alt="">
      <div class="details">
        <span> Updated 2/5/24</span>
        <h6>Paracetamol</h6>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <span>(200)</span>
        </div>
      </div>
      <div class="cost">
        $15
      </div>
    </div>
    <div class="product">
      <img src="C:\Users\HP\OneDrive\Desktop\ALX SWE\Portfolio project\images\christina-victoria-craft-ZHys6xN7sUE-unsplash.jpg" alt="">
      <div class="details">
        <span> Updated 2/5/24</span>
        <h6>Paracetamol</h6>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <span>(200)</span>
        </div>
      </div>
      <div class="cost">
        $15
      </div>
    </div>
    <div class="product">
      <img src="C:\Users\HP\OneDrive\Desktop\ALX SWE\Portfolio project\images\christina-victoria-craft-ZHys6xN7sUE-unsplash.jpg" alt="">
      <div class="details">
        <span> Updated 2/5/24</span>
        <h6>Paracetamol</h6>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <span>(200)</span>
        </div>
      </div>
      <div class="cost">
        $15
      </div>
    </div>
  </div>
</section>

<script src="{% static 'theracityApp/js/autocomplete.js' %}"></script>
</body>
</html>
