<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TheraCity Pharmaceutical Store</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'theracityApp/css/style.css' %}">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </head>
    <body>
        <!----Navigation ------>
        <header>
            <nav>
            <img src="{% static 'theracityApp/img/Logo.png' %}" alt="TheraCity logo">
            <div class="search-options">
                <p class="search-options-item" id="pharmacies">Pharmacies</p>
                <p class="search-options-item" id="medicines">Medicines</p>
            </div>
            <div class="navigation">
                <ul>
                <i id="menu-close" class="fa fa-times"></i>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'about_us' %}">About Us</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Contact Us</a></li>
                </ul>
                <i id="menu-btn" class="fa fa-bars"></i>
            </div>
            </nav>
    
            <div class="search hidden">
            <input type="text" class="search-bar" id="search-bar" placeholder="">
            <button type="submit" id="search-button"><i class="fas fa-search"></i></button>
            </div>
    
            <div class="suggestions"></div>
        </header>

        <section id="pharm-locator" class="section-p1">
            <h2> Our Partner Stores</h2>
            <p> Pharmacy A</p>
            <div class="pharm_container">
                <div class="pharm">
                    <img src="{% static 'theracityApp/img/two-african-american-pharmacist-working-drugstore-hospital-pharmacy-african-healthcare.jpg' %}" alt="" width="200" height="200">
                    <div class="desc">
                        <span>Pharmacy A</span>
                        <h5>Address: 428 Jackson St Wild Rose, Wisconsin (WI), 54984 (262) 835-9297</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>

                <div class="pharm">
                    <img src="{% static 'theracityApp/img/african-american-pharmacist-working-drugstore-hospital-pharmacy-african-healthcare (1).jpg' %}" alt="">
                    <div class="desc">
                        <span>Pharmacy B</span>
                        <h5>Address: 428 Jackson St Wild Rose, Wisconsin (WI), 54984 (262) 835-9297</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>

                <div class="pharm">
                    <img src="{% static 'theracityApp/img/man-wheelchair-social-worker-choosing-prescription-treatment.jpg' %}" alt="">
                    <div class="desc">
                        <span>Pharmacy C</span>
                        <h5>Address: 428 Jackson St Wild Rose, Wisconsin (WI), 54984 (262) 835-9297</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>

                <div class="pharm">
                    <img src="{% static 'theracityApp/img/empty-drugstore-with-bottles-packages-full-with-medicaments-retail-shop-shelves-with-pharmaceutical-produ.jpg' %}" alt="">
                    <div class="desc">
                        <span>Pharmacy D</span>
                        <h5>Address: 428 Jackson St Wild Rose, Wisconsin (WI), 54984 (262) 835-9297</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="pharm">
                    <img src="{% static 'theracityApp/img/new.jpg' %}" alt="">
                    <div class="desc">
                        <span>Pharmacy E</span>
                        <h5>Address: 428 Jackson St Wild Rose, Wisconsin (WI), 54984 (262) 835-9297</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>

                <div class="pharm">
                    <img src="{% static 'theracityApp/img/new 2.jpg' %}" alt="">
                    <div class="desc">
                        <span>Pharmacy F</span>
                        <h5>Address: 428 Jackson St Wild Rose, Wisconsin (WI), 54984 (262) 835-9297</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="pharm">
                    <img src="{% static 'theracityApp/img/young-hispanic-man-pharmacist-smiling-confident-scanning-pills-bottle-pharmacy.jpg' %}" alt="">
                    <div class="desc">
                        <span>Pharmacy G</span>
                        <h5>Address: 428 Jackson St Wild Rose, Wisconsin (WI), 54984 (262) 835-9297</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>

                <div class="pharm">
                    <img src="{% static 'theracityApp/img/two-african-american-pharmacist-working-drugstore-hospital-pharmacy-african-healthcare.jpg' %}" alt="">
                    <div class="desc">
                        <span>Pharmacy H</span>
                        <h5>Address: 428 Jackson St Wild Rose, Wisconsin (WI), 54984 (262) 835-9297</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>

                <div class="pharm">
                    <img src="{% static 'theracityApp/img/two-african-american-pharmacist-working-drugstore-hospital-pharmacy-african-healthcare.jpg' %}" alt="">
                    <div class="desc">
                        <span>Pharmacy I</span>
                        <h5>Address: 428 Jackson St Wild Rose, Wisconsin (WI), 54984 (262) 835-9297</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="footer-col">
                <h3>Customer Service</h3>
                <li>FAQ</li>
                <li>Customer Feedback</li>
                <li>Return & Exchange</li>
                <li>Store Locator</li>
                <li>Order Information</li>
                <li>Get in touch</li>
            </div>
            <div class="footer-col">
                <h3>About Us</h3>
                <li>Services</li>
                <li>License & Agreement</li>
            </div>
            <div class="footer-col">
                <h3>Contact Us</h3>
                <li>Email: example@theracity.com</li>
                <li>Phone: +244************</li>
                <li>LinkedIn</li>
            </div>
            <div class= "footer-col">
                <h3>Newsletter</h3>
                <p>Stay updated with the latest news, offers, and health tips by subscribing to our newsletter.</p>
                <div class="subscribe">
                <input type="text" placeholder="Email Address">
                <a href="" class="green">SUBSCRIBE</a>
                </div>
            </div>
            <div class="copyright">
                <p>&copy; 2024 TheraCity Pharmaceutical Store. All rights reserved.</p>
                <div class="pro-links">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin-in"></i>
                </div>
            </div>
        </footer>

        <!-----Java Script ------->
        <script src="{% static 'theracityApp/js/script.js' %}"></script>
    </body>
</html>
